<form method="POST" action="/new">
  <label for="author">Author's name: </label>
  <input type="text" id="author" name="messageAuthor" required />
  <label for="message-text">Message: </label>
  <textarea id="messsage-text" name="messageText" required></textarea>
  <button type="submit">Submit</button>
</form>
